       
.content {
    padding: 20px;
    margin-right: 100px; /* Adjust margin-right based on the width of your social icons */
  }
  
  .social-icons {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icons a {
    margin-bottom: 10px;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    opacity: 0.4;
    /* transform: scale(2); */
  }
  
  .social-icons img {
    width: 40px; /* Adjust the width of your social icons */
    height: auto;
  }