@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   font-family: 'Poppins', sans-serif;
}

/* public/style/footer.css */

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;

    margin: auto;
    padding: 2rem;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h3 {
    font-size: 1.7em;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .footer-section a {
    color: white;
    text-decoration: none;
  }
  
  /* Add more styles as needed */
  @media only screen and (max-width: 704px)  {
    .footer-section{
        font-size: 0.7em;
    }
    .footer-container{
      flex-direction: column;
    }


  }

  .footer-container p{
    padding: 0rem;
  }
  