<!-- layout.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style/header.css"> <!-- Add a separate CSS file for styling -->
  <title>Your Business</title>
  <link rel="stylesheet" href="/style/header.css">
  <link rel="stylesheet" href="/public/style/footer.css">

</head>
<body>
  <!-- Include the header template -->
  <%- include('header', { pageTitle: pageTitle, enquiryNumber: enquiryNumber, phoneNumber: phoneNumber }) %>

  <!-- Content for individual pages will be included here -->
 
</body>
</html>
