<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/app-dev.css">
    <title>Web Development</title>
</head>

<body>
    <%- include('layout', { pageTitle: 'Home' , enquiryNumber: 'Your Enquiry Number' , phoneNumber: 'Your Phone Number'
        }) %>

        <div class="contact-container">
            <div class="about">
                <h2>Web Design And Development</h2>
                <p>Website that speaks to your customers. Build your dream website with OnlineOrbitt's expert designers and developers who have the knowledge and creativity to make it happen that looks great and drives results.

                </p>
            </div>
            <div class="form-container">
                <form action="/contact" method="post">
                    <input type="text" id="name" name="name" required placeholder="Full Name">

                    <div class="flex-container">

                        <div class="flex-item">

                            <input type="tel" id="number" name="number" required placeholder="Mobile Number">
                        </div>
                    </div>


                    <input type="email" id="email" name="email" required placeholder="Email">


                    <textarea id="message" name="message" rows="4" required
                        placeholder="Write your Message here"></textarea>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="contact-container" style="background-color: white;">
            <div class="form-container">
                <img style="max-width: 100%;" src="/img/web1.jpg" alt="img" title="img">
            </div>
            <div class="about" style="color: black;">
                <h2>Working Together On Design And Development</h2>
                <p>Collaborating on design and development isn't just a service we offer; it's a journey we embark on together. At OnlineOrbitt, we believe in a partnership that transcends traditional client-agency dynamics. Picture it as a co-creative adventure, where your vision and our expertise converge to bring digital dreams to life.</p>
                    <p> We don't just build websites or applications; we craft digital experiences that resonate with your brand essence. From the initial design sketches to the final lines of code, every step is a shared exploration, ensuring the end result is not just a product but a testament to the power of true collaboration. Let's shape the future of your digital presence, hand in hand.</p>
            </div>
           
        </div>

        <section class="mobile-app-process">
            <div class="process-heading">
                <h2>Our Web Development Process</h2>
                <p>We design distinctive websites with a smooth and user-friendly interface.</p>
            </div>
        
            <div class="process-cards">
                <!-- Card 1 - Information Gathering -->
                <div class="process-card">
                    <img src="/img/info.png" alt="img" title="img">
                    <h3>Information Gathering</h3>
                    <p>To ensure our approach aligns with our client's expectations in web development, we initiate the process by comprehensively grasping their well-defined business requirements.</p>
                </div>
        
                <!-- Card 2 - Wireframing -->
                <div class="process-card">
        
                    <img src="/img/wireframe.png" alt="img" title="img">
                    <h3>Wireframing</h3>
                    <p>We offer a detailed website wireframe that outlines platform specifics, feature requirements, and practical decisions tailored to meet your needs.</p>
                </div>
        
                <!-- Card 3 - Design -->
                <div class="process-card">
                    <img src="/img/design.png" alt="img" title="img">
                    <h3>Design</h3>
                    <p>Our skilled team kicks off the process of building an engaging user experience for the website. We generate static mockups of diverse screens to share with the client.
                    </p>
                </div>
        
                <!-- Card 4 - Development -->
                <div class="process-card">
                    <img src="/img/develop.png" alt="img" title="img">
                    <h3>Development</h3>
                    <p>To create sturdy and dependable websites, our team of programmers and architects diligently works. We maintain client satisfaction by employing effective website development processes.</p>
                </div>
        
                <!-- Card 5 - Quality Assurance -->
                <div class="process-card">
                    <img src="/img/quality.png" alt="img" title="img">
                    <h3>Quality Assurance</h3>
                    <p>Our impactful testing methods meticulously scrutinize every facet of quality, ensuring the delivery of an outstanding product. Consequently, all our deliverables are fully functional.</p>
                </div>
        
                <!-- Card 6 - Support & Maintenance -->
                <div class="process-card">
                    <img src="/img/support.png" alt="img" title="img">
                    <h3>Support & Maintenance</h3>
                    <p>We offer ongoing support and maintenance for your website post-launch, working closely with you to develop new features as needed.</p>
                </div>
            </div>
        </section>

        <!-- Get In Touch Card -->
        <div class="get-in-touch-card">
            <div class="get-card">
                <h2>Get In Touch</h2>
                <p>We'd love to hear what you have to say. The online support team at OnlineOrbitt are always ready to give you the best customer service.</p>
            </div>
            <div class="contact-buttons">
                <button class="telegram-button"><a href="https://t.me/OnlineOrbitt" style="color:white; text-decoration: none;" target="_blank">Telegram </a></button>
                <button class="whatsapp-button" style="background-color: #25d366;" > <a style="text-decoration: none; color: white;" href="https://whatsapp.com/channel/0029VaLiRFzA89MnjT9O7A0d" target="_blank"> Whatsapp</a></button>
            </div>
        </div>
        <div class="contact-container" style="background-color: white;">
            <div class="about" style="color: black;">
                <h2>Responsive Web Development Makes Better Experience</h2>
                <p>OnlineOrbitt specializes in digital innovation through responsive web development. Beyond adapting to devices, we craft immersive experiences by understanding user behavior and seamlessly translating brand narratives. Our approach transforms websites into fluid entities that evolve with audience needs, setting a new standard for digital engagement. Elevate your online presence with us.</p>
            </div>
            <div class="form-container">
                <img style="max-width: 100%;" src="/img/web2.jpg" alt="img" title="img">
            </div>
        </div>
        <div class="social-icons">
            <a href="https://whatsapp.com/channel/0029VaLiRFzA89MnjT9O7A0d" target="_blank"><img src="/img/whatsapp.png"
                    alt="Social Media 1" title="img"></a>
            <a href="https://t.me/OnlineOrbitt" target="_blank"><img src="/img/telegram.png"
                    alt="Social Media 2" title="img"></a>
            <a href="https://www.facebook.com/profile.php?id=61555483784827" target="_blank"><img src="/img/facebook.png"
                    alt="Social Media 3" title="img"></a>
            <a href="https://www.instagram.com/onlineorbitt/" target="_blank"><img src="/img/instagram.png"
                    alt="Social Media 3" title="img"></a>
        </div>
        <%- include('footer') %>

</body>

</html>